<nb-card class="pie-chart-card">
  <h5>Current Cash in Drawer</h5>
  <div class="row">
    <div class="col-xxl-4">
    </div>
    <div *ngIf="cashData" class="col-xxl-4">
      <p>${{cashData['cash']}}</p>
      <p>{{cashData['cityName']}}</p>
    </div>
    <div class="col-xxl-4">
    </div>
  </div>
</nb-card>