<nb-card class="top-awaited-customer">
    <nb-card-body>
        <h5>Appointment Logs</h5>
        <div class="row">
            <div class="col-xxl-2">
                <div>
                    <h5>
                        27
                    </h5>
                    <span><b> No Show</b></span>
                </div>
                <div>
                    <h5>
                        17
                    </h5>
                    <span><b>Cancelled</b></span>
                </div>
                <div>
                    <h5>
                        25
                    </h5>
                    <span><b>Late</b></span>
                </div>
            </div>
            <div class="col-xxl-5">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2">Cancelled</td>
                        </tr>
                        <tr *ngFor="let c of cancelledData;let i = index">
                            <td>
                                {{c.name}}
                            </td>
                            <td>
                                {{c.date | date : 'shortDate' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xxl-5">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2">No Show</td>
                        </tr>
                        <tr *ngFor="let c of noShowData;let i = index">
                            <td>
                                {{c.name}}
                            </td>
                            <td>
                                {{c.date | date : 'shortDate' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>