@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  flex-wrap: wrap;

  .legend {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }
  }

  .legend-item-color {
    min-width: 15px;
    min-height: 15px;
    border-radius: 0.2rem;
  }

  .legend-title {
    @include nb-ltr(padding-left, 0.75rem);
    @include nb-rtl(padding-right, 0.75rem);
    white-space: nowrap;
  }
}

.business-rating{
  margin: 10px;
  .review-title{
    margin: 10px;
    color: gray;
  }
  .review-list{
    .review{
      display: flex;
      .avtar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: lightblue;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        margin: 10px;
      }
      p{
        margin: 0px;
      }
      .username{
        font-weight: 600;
        margin-top: 15px;
      }
    }
  }
}