<nb-card class="business-rating">
    <nb-card-body>
       <h5>Overall Business Rating</h5>
       <div>
           <h6 class="review-title">Service Reviews</h6>
           <div class="review-list">
               <div *ngFor="let a of [1,2,3,4,5]" class="review">
                   <div class="avtar">
                    T
                   </div>
                   <div>
                       <p class="username">Test</p>
                       <p>Best Service</p>
                   </div>
               </div>
           </div>
       </div>
    </nb-card-body>
</nb-card>