<nb-card class="top-sender-customer">
    <nb-card-body>
        <h5>Top Spender Customer</h5>
        <div class="row">
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Spent</td>
                        <td>Last Session</td>
                    </tr>
                    <tr *ngFor="let c of data;let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            {{c.name}}
                        </td>
                        <td>
                            {{c.spent}}
                        </td>
                        <td>
                            3 Days ago
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>