<nb-card class="progress-chart">
    <nb-card-body>
        <h5>{{title}}</h5>
        <div *ngIf="data" class="progress-info">
            <div class="subtitle">
                <span>{{data[0]['percentage']}} &nbsp;{{data[0]['label']}}</span>
                <span>{{data[1]['percentage']}} &nbsp;{{data[1]['label']}}</span>
            </div>
            <nb-progress-bar [value]="data[0]['percentage']"></nb-progress-bar>
        </div>
        <div *ngIf="data" class="row progress-title">
            <div class="col-xxl-6 progress-title-block">
                <p>{{data[0]['percentage']}}</p>
                <p>{{data[0]['label']}}</p>
            </div>
            <div class="col-xxl-6 progress-title-block">
                <p>{{data[1]['percentage']}}</p>
                <p>{{data[1]['label']}}</p>
            </div>
        </div>
    </nb-card-body>
</nb-card>