@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  flex-wrap: wrap;

  .legend {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }
  }

  .legend-item-color {
    min-width: 15px;
    min-height: 15px;
    border-radius: 0.2rem;
  }

  .legend-title {
    @include nb-ltr(padding-left, 0.75rem);
    @include nb-rtl(padding-right, 0.75rem);
    white-space: nowrap;
  }
}

.progress-chart{
  .progress-info{
    .subtitle{
      display: flex;
      justify-content: space-between;
    }
  }
  .progress-title{
    margin: 10px;
    .progress-title-block{
      text-align: center;
      p{
        margin: 5px;
        font-weight: 600;
      }
    }
  }
}