<nb-card class="sales-chart">
    <h5>Sales</h5>
    <div class="row">
        <div class="col-xxl-3">
            <div class="city-list">
                <label>City</label>
                <nb-select class="period-select" [selected]="city" (selectedChange)="changeCity($event)">
                    <nb-option *ngFor="let city of cityList" [value]="city.id">
                        {{ city.locationName }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="view-list">
                <label>View</label>
                <nb-select class="period-select" [selected]="type" (selectedChange)="changePeriod($event)">
                    <nb-option *ngFor="let period of types" [value]="period">
                        {{ period }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="col-xxl-3">
            <div *ngIf="displayMonthDropDown" class="view-list">
                <label>Select Month</label>
                <nb-select class="period-select" [selected]="month" >
                    <nb-option *ngFor="let m of monthLabel" [value]="m">
                        {{ m }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="view-list">
                <label>Compare with</label>
                <nb-select class="period-select" [selected]="type" (selectedChange)="changePeriod($event)">
                    <nb-option *ngFor="let city of cityList" [value]="city.id">
                        {{ city.locationName }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
    </div>
    <canvas baseChart style="height: 400px !important;" [datasets]="lineChartData" 
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</nb-card>