<nb-card size="large">
  <div class="chart-container">
    <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
    <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
  </div>
</nb-card>