<nb-card class="top-awaited-customer">
    <nb-card-body>
        <h5>Average Waited Time</h5>
        <div class="row">
            <div class="col-xxl-4">
                <div>
                    <h5>
                        16 Minutes
                    </h5>
                    <span><b> Average<br> Waited Time</b></span>
                </div>
            </div>
            <div class="col-xxl-8">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2">Most waited customer</td>
                            <td>Reference Number</td>
                        </tr>
                        <tr *ngFor="let c of data;let i = index">
                            <td>
                                {{c.name}}
                            </td>
                            <td>
                                {{c.time}} Minutes
                            </td>
                            <td>
                                {{c.phone}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>