@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};
ngx-pie-chart,
ngx-sales-chart,
ngx-current-cash,
ngx-progress-card,
ngx-top-spender-card,
ngx-average-awaited-time-card,
ngx-appointment-log-card,
ngx-marketing-source-card,
ngx-business-rating-card{
  width: 100%;
  nb-card{
    width: 100%;
    margin: 5px;
  }
}
.card-row{
  padding: 20px !important;
}
.row{
  margin: 5px  0px !important;
}
ngx-top-spender-card,ngx-average-awaited-time-card{
  height: 100%;
  nb-card{
    height: 100%;
  }
}
nb-card{
  margin: 10px 0px !important;
}
ngx-current-cash,ngx-marketing-source-card{
  height: 100%;
}
.h-50{
  height: 50%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}