<div class="row">
  <div class="col-xxl-8">
    <ngx-sales-chart (cityChange)="onCityChange($event)"></ngx-sales-chart>
  </div>
  <div class="col-xxl-4">
    <div *ngIf="salesData" class="row h-50">
      <ngx-marketing-source-card [salesData]="salesData"></ngx-marketing-source-card>
    </div>
    <div class="row h-50">
      <ngx-current-cash [selectedCity]="selectedCity"></ngx-current-cash>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <nb-card class="card-row">
      <div class="row">
        <div class="col-xxl-4">
          <ngx-pie-chart [title]="'Revenue'"></ngx-pie-chart>
        </div>
        <div class="col-xxl-4">
          <ngx-pie-chart [title]="'Services'"></ngx-pie-chart>
        </div>
        <div class="col-xxl-4">
          <ngx-pie-chart [title]="'Products'"></ngx-pie-chart>
        </div>
      </div>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-7">
    <div class="row">
      <div class="col-xxl-6">
        <ngx-progress-card [title]="'Customer Gender'" [data]="customerGenderData"></ngx-progress-card>
        <ngx-pie-chart [title]="'Payment Methods'"></ngx-pie-chart>
      </div>
      <div class="col-xxl-6">
        <ngx-progress-card [title]="'New vs Return'" [data]="newOldData"></ngx-progress-card>
        <ngx-pie-chart [title]="'Profit'"></ngx-pie-chart>
      </div>
    </div>
  </div>
  <div class="col-xxl-5">
      <ngx-top-spender-card [data]="topSpenderCustomer"></ngx-top-spender-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-6">
    <ngx-average-awaited-time-card [data]="awaitedCustomerList"></ngx-average-awaited-time-card>
  </div>
  <div class="col-xxl-6">
    <ngx-appointment-log-card [data]="appointmentData"></ngx-appointment-log-card>
  </div>
</div>


<div class="row">
  <div class="col-xxl-4">
    <ngx-business-rating-card></ngx-business-rating-card>
  </div>
  <div class="col-xxl-4">
    <ngx-business-rating-card></ngx-business-rating-card>
  </div>
  <div class="col-xxl-4">
    <ngx-business-rating-card></ngx-business-rating-card>
  </div>
</div>